:root{
    --primary-color: mintcream;
    --background-color: white;
    --secondary-color: darkslategrey;
    --gradient-color1: mediumslateblue;
    --gradient-color2: salmon;
    --usual-text-color: cornflowerblue;
    --unusual-text-color: black;
    --light-text-color: whitesmoke;
    --border: 1px solid rgba(211, 211, 211, 0.5);
    --border-radius: 0.5em;
    --padding: 1em;
    --secondary-border-radius: 0.5em;
    --secondary-padding: 0.5em;
    --button-color: cornflowerblue;
    --button-hover-color: royalblue;
    --link-color: mediumslateblue;
    --shadow: 0 0 10px rgba(211, 211, 211, 0.5);
    --success-color: limegreen;
    --error-color: orangered;
    --success-border: 1px solid limegreen;
    --error-border: 1px solid orangered;
}