@import '../../vars.css';

.back{
    z-index: 999;
    position: fixed;
    top: var(--secondary-padding);
    left: var(--secondary-padding);
    background-color: var(--primary-color);
}
.back:hover{
    background-color: var(--primary-color);
}