@import '../../vars.css';

.addUser{
    background-color: transparent;
}
.addUser:hover{
    background-color: transparent;
}
.send{
    background: linear-gradient(45deg, var(--gradient-color1), var(--gradient-color2));
    color: var(--light-text-color);
}
.title{
    text-align: center;
}
.overflow{
    overflow: auto;
}
.selected{
    background-color: var(--secondary-color);
}
.selected>*{
    color: var(--light-text-color);
}
.search{
    position: absolute;
    top: var(--secondary-padding);
    left: var(--secondary-padding);
    z-index: 1;
}