@import '../../vars.css';

.flex{
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
}
.fitX{
    width: fit-content;
}
.fitY{
    height: fit-content;
}
.gap{
    gap: var(--padding);
    padding: var(--padding);
}
.onlyGap{
    padding: 0;
}