@import '../../vars.css';

.author{
    color: var(--unusual-text-color);
}
.author:empty{
    display: none;
}
.content{
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    border: var(--border);
    padding: var(--padding);
    border-top-left-radius: 0px;
}
.self{
    background-color: var(--button-color);
    color: var(--light-text-color);
    align-self: flex-end;
    cursor: pointer;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: 0px;
}
.selfAuthor{
    align-self: flex-end;
    text-align: end;
}
.self>.text, .self>.date{
    color: var(--light-text-color);
}
.date{
    font-size: xx-small;
}
.text{
    text-align: start;
}
.message{
    width: 100%;
    border-radius: var(--border-radius);
}