@import '../../vars.css';

.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    backdrop-filter: blur(10px) brightness(0.5);
    z-index: 1000;
}
.visible{
    opacity: 1;
    pointer-events: all;
}
.menu{
    border-radius: var(--border-radius);
    padding: var(--padding);
    background-color: var(--primary-color);
    border: var(--border);
    padding-top: calc(var(--secondary-padding) + 2em + var(--padding));
    overflow: auto;
}
.close{
    position: absolute;
    top: var(--secondary-padding);
    left: var(--secondary-padding);
    background-color: var(--primary-color);
}
.close:hover{
    background-color: var(--primary-color);
}