@import '../../vars.css';

.users:empty::after{
    content: 'No users yet...';
    font-size: xx-large;
}
.users, .chatsList{
    overflow: auto;
}
.chats:empty::after{
    content: 'No chats yet...';
    font-size: xx-large;
}
.error{
    color: var(--error-color);
}